.heading {
  background-color:lightslategrey;
}

.paragraph {
  font-size: 20px;
  color:darkslategrey;
}

.paragraph1 {
  font-size: 20px;
  color:darkslategrey;
}

.paragraph2 {
  font-size: 20px;
  color:darkslategrey;
}
